{% extends "::base.html.twig" %}

{% block title %}Create a new question - {{ parent() }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
{{ form_start(form) }}
    {{ form_row(form.title) }}
    {{ form_row(form.book) }}
    {{ form_row(form.content) }}
    <div id="answers" data-prototype="{{ form_widget(form.answers.vars.prototype)|e('html_attr') }}">
        <a class="btn-add" data-target="answers">Add tag</a>
        {% for answer in form.answers %}
            {{ form_row(answer) }}
        {% endfor %}
    </div>
    {{ form_row(form.explanation) }}
    <input type="submit" value="Add question">
    {{ form_end(form) }}
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script>
        questionFormCollection();
    </script>

{% endblock %}
