{% extends "::base.html.twig" %}

{% block title %}edit user{% endblock %}

{% block body %}
    {{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.surname) }}
    {{ form_row(form_password) }}
    <button type="submit">Update!</button>
    {{ form_end(form) }}
{% endblock %}