{% extends '::base.html.twig' %}

{% set charArray = {1 : 'A', 2 : 'B', 3 : 'C', 4 : 'D', 5 : 'E', 6 : 'F', 7 : 'G'} %}

{% block body %}
    <div id="headerwrap">
        <div class="container min-height-100">
            <div class="row">
                <div class="col-lg-12">
                    {% if current.contributors.count > 0 %}
                    <p>Contributors:</p>
                        {% for contributor in current.contributors %}
                        <img src="{{ contributor.avatar }}" title="{{ contributor.name ~ ' ' ~ contributor.surname }}">
                        {% endfor %}
                    {% else %}
                        <p>Nobody has contributed to this question.</p>
                    {% endif %}
                </div>
                <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-12">
                    {% for group in app.session.get('questionGroups') %}
                        {% if not group[0].book.title %}
                            <b><h3>{{ loop.index ~ '. PHP Test' }}</h3></b>
                        {% else %}
                            <b>{{ loop.index }}.{{ group[0].book.title }}</b><br>
                        {% endif %}

                        {% for question in group %}
                            {% if question.id == current.id %}
                                <b><a title="{{ question.title }}"
                                      class="dd66 color-background-text" href="{{ path('question', {'id': question.id }) }}">{{ loop.index }}</a></b>
                            {% else %}
                                <a title="{{ question.title }}"
                                   class="dd66 color-background-text" href="{{ path('question', {'id': question.id }) }}">{{ loop.index }}</a>
                            {% endif %}
                        {% endfor %}<br>
                    {% endfor %}

                    <div id="countdown">
                        <p id="hours">00</p>
                        <p id="minutes">00</p>
                        <p id="seconds">00</p>
                    </div>
                    <input type="button" id="reportBtn" class="btn btn-danger btn-lg" data-toggle="modal" data-target="#questionReport" value="Invalid question">
                        {{ form_start(form, { 'attr' : {'class': 'alert'}}) }}
                        {{ index ~ '.' }}{{ current.content|
                        replace({ "<pre>" : "<pre><code class='language-php'><xmp>" ,
                            "</pre>" : "</xmp></code></pre>" })|raw }}

                    {% for answer in form.answers %}
                        <div class="alert">
                            {{ charArray[loop.index] }}{{ form_widget(answer) }}
                            {{ form_label(answer)|raw}}
                        </div>
                    {% endfor %}

                    <div class="allignCenter">
                        {{ form_widget(form.previous, {'attr': {'class': 'btn btn-3'}}) }} &nbsp;
                        {{ form_widget(form.submit, {'attr': {'class': 'btn btn-3'}}) }} &nbsp;
                        {{ form_widget(form.next, {'attr': {'class': 'btn btn-3'}}) }} <br>
                        {{ form_end(form) }}
                        <input type="button" id="solve" class="btn btn-2" value="Solve it">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-12">
                    <div id="explanation"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="questionReport" tabindex="-1" role="dialog" aria-labelledby="Report this question" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header bg-danger">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Report this question</h4>
                </div>
    {% if app.user %}
                    {{ render(controller('AppBundle:Test:questionReport', {'allow' : true})) }}
        {% else %}
            <div class="modal-body">
                <h3>Only registered users can use this!</h3>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
    {% endif %}

        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        countdown($('#seconds'), $('#minutes'), $('#hours'), '{{ app.session.get('endsAt')|date('U') }}');
        sendAnswers("input[name^='test_question[answers]']", '{{ path('questionChosen') }}', '{{ current.id }}');
        {% if solved %}
            solveIt('{{ path('solveIt') }}', '{{ current.id }}', $('.alert input'), $('#explanation'));
        {% endif %}
        $('#solve').on('click', function () {
            solveIt('{{ path('solveIt') }}', '{{ current.id }}',$('.alert input'), $('#explanation'));
        });

        reportQuestion($("form[name='question_report']"), '{{ path('report') }}', '{{ current.id }}');
    </script>
{% endblock %}