{% extends '::base.html.twig' %}

{% block body %}
    {% for group in app.session.get('questionGroups') %}
        <b>{{ loop.index }}.{{ group[0].book.title }}</b><br>
            {% for question in group %}
                {% if app.session.get('isCorrect')[question.id]  %}
                    <a style="color: #66dd66" title="{{ question.title }}" href="{{ path('testResults', {'id': question.id }) }}">{{ loop.index }}</a>
                {% else %}
                    <a style="color: #C82829" title="{{ question.title }}" href="{{ path('testResults', {'id': question.id }) }}">{{ loop.index }}</a>
                {% endif %}
            {% endfor %}<br>
        {% endfor %}
    {{ form_start(form) }}
    {{ index ~ '.'}}{{ current.content|raw }}

    {% for answer in form.answers %}
        {{ loop.index }}{{ form_widget(answer) }}
        {{ form_label(answer)|replace({"&lt;" : "<", "&gt;" : ">", "&amp;" : "&"})|raw }}
        <br>
    {% endfor %}

    {{ form_widget(form.previous) }}
    {{ form_widget(form.next) }}
    {{ form_end(form) }}

    {% if app.session.get('isCorrect')[current.id] is not defined or not app.session.get('isCorrect')[current.id] %}
        <p>Your choice is incorrect.</p>
        <div class="visible">
            {{ current.explanation|raw }}
        </div>
    {% else %}
        <p>Your choice is correct!</p>
        <div class="hidden">
            {{ current.explanation|raw }}
        </div>
    {% endif %}
{% endblock %}
