{% extends "::base.html.twig" %}

{% block title %}Home page - {{ parent() }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <body>
        <div class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#"><b><h1><b>{ testify }</b></h1></b></a>
                </div>
            </div>
        </div>
        <div id="headerwrap">
            <div class="container min-height-100">
                <div class="row">
                    <div class="col-lg-6">
                        <h3>Get ready<br />
					for some tests.</h3>
                        <form class="form-inline" role="form">
                            <div class="btn-group">
                                <button type="submit" class="btn btnY btn-8"><a href="{{ asset('quick-test') }}">Quick test</a></button>
                                <button type="submit" class="btn btnY btn-3"><a href="/category-test/1-php-basics">PHP Basics</a></button>
                                <button type="submit" class="btn btnY btn-3"><a href="/category-test/2-functions-and-arrays">Functions and Arrays</a></button>
                                <button type="submit" class="btn btnY btn-3"><a href="/category-test/3-object-oriented-programming">Object Oriented Programming</a></button>
                                <button type="submit" class="btn btnY btn-3"><a href="/category-test/4-security">Security</a></button>
                                <button type="submit" class="btn btnY btn-3"><a href="/category-test/5-data-format-and-types">Data format and Types</a></button>
                                <button type="submit" class="btn btnY btn-3"><a href="/category-test/6-string-and-patterns">String and Patterns</a></button>
                                <button type="submit" class="btn btnY btn-3"><a href="/category-test/7-database-and-sql">Database and SQL</a></button>
                                <button type="submit" class="btn btnY btn-3"><a href="/category-test/8-web-features">Web features</a></button>
                                <button type="submit" class="btn btnY btn-3"><a href="/category-test/9-input-and-output">INPUT and OUTPUT</a></button>
                                </ul>
                            </div>
                        </form>
                    </div>
                    <!-- /col-lg-6 -->
                    <div class="col-lg-6">
                        <img class="img-responsive" src="{{ asset('images/web3.png') }}" alt="">
                    </div>
                    <!-- /col-lg-6 -->
                </div>
                <!-- /row -->
            </div>
            <!-- /container -->
        </div>


        <!-- /headerwrap -->
        <div class="container">
            <div class="row mt centered">
                <div class="col-lg-6 col-lg-offset-3">
                    <h1>Learn PHP<br />Without any difficulties.</h1>
                    <h3>Keep up with with with friends and latest features of PHP.</h3>
                </div>
            </div>
            <!-- /row -->
            <div class="row mt centered">
                <div class="col-lg-4">
                    <img src="{{ asset('images/ser01.png') }}" width="180" alt="">
                    <h4>1 - Browser Compatibility</h4>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever.</p>
                </div>
                <!--/col-lg-4 -->
                <div class="col-lg-4">
                    <img src="{{ asset('images/ser02.png') }}" width="180" alt="">
                    <h4>2 - Email Campaigns</h4>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever.</p>
                </div>
                <!--/col-lg-4 -->
                <div class="col-lg-4">
                    <img src="{{ asset('images/ser03.png') }}" width="180" alt="">
                    <h4>3 - Documentation</h4>
                    <h2 class="bungeeS boldS font-20 allign-center"><a class="" href="http://php.net/docs.php">PHP documentation</a></h2>
                    <h2 class="bungeeS boldS font-20 allign-center"><a class="" href="https://www.digitalocean.com/company/blog/getting-ready-for-php-7/">Getting Ready for PHP 7</a></h2>
                </div>
                <!--/col-lg-4 -->
            </div>
            <!-- /row -->
        </div>
    </body>

{% endblock %}
