{% extends "::base.html.twig" %}

{% block title %}Pagrindinis puslapis - {{ parent() }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {% for error in app.session.flashBag.get('error') %}
        <div class="alert alert-danger">
            {{ error }}
        </div>
    {% endfor %}
    {% for success in app.session.flashBag.get('success') %}
        <div class="alert alert-success">
            {{ success }}
        </div>
    {% endfor %}

    <div class="container-fluid greyBackground">
        <div class="container">
            <div class="titleN">PHP žinių įvertinimo testas</div>

            <div class="row bungeeS">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 allignCenter">
                    <a href="/" class="buttonB rounded">Zend testas</a>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 allignCenter">
                    <a href="/" class="buttonB rounded">
                        Bendrasis <br>
                        <div class="font-20">žinių testas</div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 allignCenter">
                    <a class="buttonB rounded" name="buttonCustom">Temos testas</a>
                </div>
            </div>
            <div id="categoryForm">
                Lasgasgasfa
            </div>
        </div>
    </div>

    <div class="container-fluid whiteBackground">
        <div class="container">

            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <h2>Prisijunk mūsų jau virš</h2>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">

                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <a href="#" class="buttonB blue big">Download</a>
        <a href="#" class="buttonB blue medium">Submit</a>
        <a href="#" class="buttonB small blue rounded">Submit</a>
        <h1>Progress Buttons</h1>

        <a id="submitButton" href="{{ path('login') }}" class="progress-button">Submit</a>

        <a id="actionButton" href="{{ path('login') }}" class="progress-button green" data-loading="Working.." data-finished="Finished!" data-type="background-bar">Action!</a>

        <a id="generateButton" href="{{ path('login') }}" class="progress-button red" data-loading="Generating.." data-finished="Download" data-type="background-vertical">Generate</a>

        <h1>Progress Control</h1>

        <a id="controlButton" href="{{ path('login') }}" class="progress-button">Start</a>

        <div class="control-area">
            <a class="command increment">Increment</a>
            <a class="command set-to-1">Set to 1%</a>
            <a class="command set-to-50">Set to 50%</a>
            <a class="command finish">Finish</a>
        </div>


        <div id="loading"></div>

        <H1>Lorem</H1>
        <H1>Lorem</H1>
        <H1>Lorem</H1>
        <H1>Lorem</H1>
    </div>
{% endblock %}
