{% extends "::base.html.twig" %}

{% block title %}Home page - {{ parent() }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <body>
        <div id="headerwrap">
            <div class="container">
                <div class="row mt">
                    <div class="col-lg-6">
                        <h1 class="crlgr bold500">Learn PHP<br />Without any difficulties.</h1>
                        <h3>Keep up with with with friends and latest features of PHP.</h3>
                    </div>
                    <!-- /col-lg-6 -->
                    <div class="col-lg-6">
                        <img class="img-responsive" src="{{ asset('images/web3.png') }}" alt="">
                    </div>
                    <!-- /col-lg-6 -->
                </div>
                <!-- /row -->
            </div>
            <!-- /container -->
        </div>


        <!-- /headerwrap -->
        <div class="container">
            <!-- /row -->
            <div class="row mt centered">
                <div class="col-lg-4">
                    <img src="{{ asset('images/ser01.png') }}" width="180" alt="">
                    <p class="white-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever.</p>
                </div>
                <!--/col-lg-4 -->
                <div class="col-lg-4">
                    <img src="{{ asset('images/ser02.png') }}" width="180" alt="">
                    <p class="white-text" >Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever.</p>
                </div>
                <!--/col-lg-4 -->
                <div class="col-lg-4">
                    <img src="{{ asset('images/ser03.png') }}" width="180" alt="">
                    <p class="white-text bold500">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever.</p>                </div>
                <!--/col-lg-4 -->
            </div>
            <!-- /row -->
        </div>
    </body>

{% endblock %}
