{% extends "::base.html.twig" %}

{% block title %}Home page - {{ parent() }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <body>
        <div id="headerwrap">
            <div class="container">
                <div class="row mt">
                    <div class="col-lg-6">
                        <h1 class="crlgr bold500">Learn PHP<br />Without any difficulties<br />Want to know how?</h1>
                        <h3>Testify is a php testing platform and it will help you and us to improve our php knowledge</h3>
                    </div>
                    <!-- /col-lg-6 -->
                    <div class="col-lg-6">
                        <img class="img-responsive" src="{{ asset('images/web3.png') }}" alt="">
                    </div>
                    <!-- /col-lg-6 -->
                </div>
                <!-- /row -->
            </div>
            <!-- /container -->
        </div>


        <!-- /headerwrap -->
        <div class="container">
            <!-- /row -->
            <div class="row mt centered">
                <div class="col-lg-4">
                    <img src="{{ asset('images/ser01.png') }}" width="180" alt="">
                    <p class="white-text bold500">Report wrong questions and create new ones</p>
                </div>
                <!--/col-lg-4 -->
                <div class="col-lg-4">
                    <img src="{{ asset('images/ser02.png') }}" width="180" alt="">
                    <p class="white-text bold500">Track progress and notice your weak spots </p>
                </div>
                <!--/col-lg-4 -->
                <div class="col-lg-4">
                    <img src="{{ asset('images/ser03.png') }}" width="180" alt="">
                    <p class="white-text bold500">Improve yourself by solving personalised questions</p>
                </div>
                <!--/col-lg-4 -->
            </div>
            <!-- /row -->
        </div>
    </body>

{% endblock %}
