{% extends "::base.html.twig" %}

{% block title %}Home page - {{ parent() }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <!--login register forms-->
    <div class="container allign-center">
        <div class="row">
            <div class="col-lg-4 col-lg-offset-4 col-sm-12 loginForm">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        Log in
                    </div>
                    <div class="panel-body">
                        <form action="{{  path('login') }}" method="post" class="form-horizontal">
                            <fieldset class="form-group">
                                <label class="control-label label-width" for="username">User name: </label>
                                <input type="text" id="username" name="_username" value="{# last_email #}" />
                            </fieldset>
                            <fieldset class="form-group">
                                <label class="control-label label-width" for="password">Password: </label>
                                <input type="password" id="password" name="_password" />
                            </fieldset>
                            <button class="btn btn-4" type="submit">Log in</button>
                        </form>

                    </div>
                    <div class="panel-footer">
                        <div class="text-center"><b><a href="{{ path('fbConnect') }}">Login with Facebook</a></b></div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-lg-offset-4 col-sm-12 registerForm">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        Register
                    </div>
                    <div class="panel-body relative-button">
                        <form action="{{  path('register') }}" method="post" class="form-horizontal">
                            <fieldset class="form-group">
                                <div><label for="user_username" class="required">Username</label><input type="text" id="user_username" name="user[username]" required="required" /></div>
                            </fieldset>
                            <fieldset>
                                <div><label for="user_email" class="required">Email</label><input type="email" id="user_email" name="user[email]" required="required" /></div>
                            </fieldset>
                            <fieldset>
                                <div><label for="user_name" class="required">Name</label><input type="text" id="user_name" name="user[name]" required="required" /></div>
                            </fieldset>
                            <fieldset>
                                <div><label for="user_surname">Surname</label><input type="text" id="user_surname" name="user[surname]" /></div>
                            </fieldset>
                            <fieldset>
                                <div><label for="user_password_first" class="required">First</label><input type="password" id="user_password_first" name="user[password][first]" required="required" /></div>
                            </fieldset>
                            <fieldset>
                                <div><label for="user_password_second" class="required">Second</label><input type="password" id="user_password_second" name="user[password][second]" required="required" /></div>
                            </fieldset>
                            <fieldset>
                                <div><label for="user_termsAccepted" class="required">Terms accepted</label><input type="checkbox" id="user_termsAccepted" name="user[termsAccepted]" required="required" value="1" /></div>
                            </fieldset>
                            <button class="btn btn-4" type="submit">Register!</button>

                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!--great cover-->
    <div class="homepage-hero-module ">
        <div class="video-container">
            <video preload="auto" autoplay loop class="fillSpace" poster="{{ asset('background/Hello-World.jpg') }}">
                <source src="{{ asset('background/Hello-World.mp4') }}" type="video/mp4" />
                <source src="{{ asset('background/Hello-World.webm') }}" type="video/webm" />
                <source src="{{ asset('background/Hello-World.ogg') }}" type="video/ogg" />
            </video>

            <div class="title-container">
                <div class="titleN">PHP knowledge evaluation tests</div>

                <div class="row bungeeS">
                    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 allignCenter">
                        <a href="{{ path('quick_test') }}" class="btn btn-1 btn-1e boldS">Zend test</a>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 allignCenter">
                        <a href="{{ path('test_options') }}" class="btn btn-1 btn-1e  boldS">
                            Overal <br>
                            <span class="font-20">knowledge test</span>
                        </a>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 allignCenter">
                        <a class="btn btn-1 btn-1e boldS formButton">Category test</a>
                    </div>
                </div>

                <div class="allign-center users-count">
                    <h2 class="bungeeS boldS allign-center font-40">Over</h2>
                    <div class="circle allignCenter">
                        <div class="user-count font-50">0</div>
                    </div>

                    <h2 class="bungeeS boldS allign-center">users! Join us</h2>
                </div>

            </div>
        </div>
    </div>

    <!--categories-->
    <div class="allignCenter formCategories">
        <div class="panel-group">
            <div class="panel panel-success">
                <div class="panel-heading"><p class="titleN">Test categories</p></div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-lg-offset-3 col-md-offset-3 col-sm-12 col-xs-12">
                            <a href="/login"><button type="submit" class="btn btnY btn-3">Functions and arrays</button></a>
                            <a href="/login"><button type="submit" class="btn btnY btn-3">Object oriented programming</button></a>
                            <a href="/login"><button type="submit" class="btn btnY btn-3">Security</button></a>
                            <a href="/login"><button type="submit" class="btn btnY btn-3">Data format & types</button></a>
                            <a href="/login"><button type="submit" class="btn btnY btn-3">String and patterns</button></a>
                            <a href="/login"><button type="submit" class="btn btnY btn-3">Databases and SQL</button></a>
                            <a href="/login"><button type="submit" class="btn btnY btn-3">Web feateures</button></a>
                            <a href="/login"><button type="submit" class="btn btnY btn-3">INPUT/OUTPUT</button></a>
                            <a href="/login"><button type="submit" class="btn btnY btn-3">Basic 1</button></a>
                            <a href="/login"><button type="submit" class="btn btnY btn-3">Arrays 1</button></a>
                            <a href="/login"><button type="submit" class="btn btnY btn-3">Strings 1</button></a>
                            <a href="/login"><button type="submit" class="btn btnY btn-3">Web features 1</button></a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!--secondary content test info-->
    <div class="grey-background">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <h2 class="bungeeS boldS font-20 allignCenter">Learn PHP</h2>
                    <p><a href="http://php.net/docs.php">http://php.net/docs.php</a></p>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 allignCenter">
                    <div class="bungeeS boldS font-20 ">
                        <iframe class="myIframe" width="100%" allowfullscreen frameborder="0"
                                src="https://www.youtube.com/embed/Y2JbjD1wGsw">
                        </iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
