{% extends "::base.html.twig" %}

{% block title %}Home page - {{ parent() }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {% for error in app.session.flashBag.get('error') %}
        <div class="alert alert-danger">
            {{ error }}
        </div>
    {% endfor %}
    {% for success in app.session.flashBag.get('success') %}
        <div class="alert alert-success">
            {{ success }}
        </div>
    {% endfor %}



    <!--login register forms-->
    <div class="container allign-center">
        <div class="row">

             <div class="col-lg-4 col-lg-offset-4 col-sm-12 loginForm">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        Log in
                    </div>
                    <div class="panel-body">
                        <form action="{{ path('homepage') }}" method="post" class="form-horizontal">
                            <fieldset class="form-group">
                                <label class="control-label label-width" for="email">Email: </label>
                                <input type="text" id="email" name="_username" value="{{ last_email }}" />
                            </fieldset>
                            <fieldset class="form-group">
                                <label class="control-label label-width" for="password">Password: </label>
                                <input type="password" id="password" name="_password" />
                            </fieldset>
                            <button class="btn btn-lg btn-block btn-success" type="submit">Log in</button>
                        </form>

                    </div>
                    <div class="panel-footer">
                        <div class="text-center"><b><a href="{{ path('fbConnect') }}">Login with Facebook</a></b></div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-lg-offset-4 col-sm-12 registerForm">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        Register
                    </div>
                    <div class="panel-body">
                        <form action="{{ path('login') }}" method="post" class="form-horizontal">
                            <fieldset class="form-group">
                                <label class="control-label label-width" for="email">Email: </label>
                                <input type="text" id="email" name="_username" value="{{ last_email }}" />
                            </fieldset>
                            <fieldset class="form-group">
                                <label class="control-label label-width" for="password">Password: </label>
                                <input type="password" id="password" name="_password" />
                            </fieldset>
                            <button class="btn btn-lg btn-block btn-success" type="submit">Register</button>
                        </form>

                    </div>
                </div>
            </div>

        </div>
    </div>




    <!--great cover-->
    <div class="homepage-hero-module jumbotron" style="padding: 0; margin-bottom: 0;">
        <div class="video-container">
            <video preload="auto" autoplay loop class="fillWidth" poster="{{ asset('background/Hello-World.jpg') }}">
                <source src="{{ asset('background/Hello-World.mp4') }}" type="video/mp4" />
                <source src="{{ asset('background/Hello-World.webm') }}" type="video/webm" />
                <source src="{{ asset('background/Hello-World.ogg') }}" type="video/ogg" />
            </video>

            <div class="title-container">
                <div class="titleN">PHP knowledge evaluation tests</div>

                <div class="row bungeeS">
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 allignCenter">
                        <a href="/" class="btn-primary boldS">Zend testas</a>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 allignCenter">
                        <a href="/" class="btn-primary boldS">
                            Bendrasis <br>
                            <span class="font-20">žinių testas</span>
                        </a>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 allignCenter">
                        <a class="btn btn-primary boldS formButton">Temos testas</a>
                    </div>
                </div>

                <div class="allignCenter formCategories">
                    <div class="panel-group">
                        <div class="panel panel-success">
                            <div class="panel-heading"><p class="titleN">Testų kategorijos</p></div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                        <a href="/login"><button type="submit" class="btn btnY">String</button></a>
                                        <a href="/login"><button type="submit" class="btn btnY">PHP</button></a>
                                        <a href="/login"><button type="submit" class="btn btnY">Basic</button></a>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                        <a href="/login"><button type="submit" class="btn btnY">String</button></a>
                                        <a href="/login"><button type="submit" class="btn btnY">String</button></a>
                                        <a href="/login"><button type="submit" class="btn btnY">String</button></a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>








    <!--primary content test buttons-->
    <div class="grey-background">
        <div class="container">
            <div class="titleN">PHP knowledge evaluation tests</div>

            <div class="row bungeeS">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 allignCenter">
                    <a href="/" class="buttonB rounded boldS">Zend testas</a>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 allignCenter">
                    <a href="/" class="buttonB rounded boldS">
                        Bendrasis <br>
                        <div class="font-20">žinių testas</div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 allignCenter">
                    <a class="buttonB rounded boldS formButton">Temos testas</a>
                </div>
            </div>

            <div class="allignCenter formCategories">
                <div class="panel-group panel-grey">
                    <div class="panel panel-primary">
                        <div class="panel-heading"><p class="titleN">Testų kategorijos</p></div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                    <a href="/login"><button type="submit" class="btn btnY">String</button></a>
                                    <a href="/login"><button type="submit" class="btn btnY">PHP</button></a>
                                    <a href="/login"><button type="submit" class="btn btnY">Basic</button></a>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                    <a href="/login"><button type="submit" class="btn btnY">String</button></a>
                                    <a href="/login"><button type="submit" class="btn btnY">String</button></a>
                                    <a href="/login"><button type="submit" class="btn btnY">String</button></a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--secondary content test info-->
    <div class="sand-background">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <h2 class="bungeeS boldS font-20 allignCenter">Join us</h2>
                    <p>Number</p>
                    <p>Number</p>
                    <p>Number</p>
                    <p>Number</p>
                    <p>Number</p>
                    <p>Number</p>
                    <p>Number</p><p>Number</p>
                    <p>Number</p>
                    <p>Number</p>

                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 allignCenter">
                    <div class="bungeeS boldS font-20 ">
                        <iframe  width="auto" height="auto" allowfullscreen frameborder="0"
                                src="https://www.youtube.com/embed/Y2JbjD1wGsw">
                        </iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">

        <!--testo timeris-->
        <div class="font-20">
            <div id="loading" class=""></div>
            <div id="hours">00</div><span>:</span><div id="minutes">00</div><span>:</span><div id="seconds">00</div>
        </div>

        <div class="row">
            <!--test junk-->

            <div class="col-lg-6 col-sm-12">
                <a id="generateButton" href="{{ path('login') }}" class="progress-button red" data-loading="Generating.." data-finished="Download" data-type="background-vertical">Generate</a>
            </div>
        </div>
    </div>
{% endblock %}
