{% extends '::base.html.twig' %}

{% block body %}
    {% for group in app.session.get('questionGroups') %}
        <b>{{ loop.index }}.{{ group[0].book.title }}</b><br>
            {% for question in group %}
                {% if question.id == current.id %}
                    <b><a title="{{ question.title }}" href="{{ path('question', {'id': question.id }) }}">{{ loop.index }}</a></b>
                {% else %}
                    <a title="{{ question.title }}" href="{{ path('question', {'id': question.id }) }}">{{ loop.index }}</a>
                {% endif %}
            {% endfor %}<br>
        {% endfor %}
    <div id="clock"></div>
    {{ form_start(form) }}
    {{ index ~ '.'}}{{ current.content|raw }}

    {% for answer in form.answers %}
        {{ loop.index }}{{ form_widget(answer) }}
        {{ form_label(answer)|replace({"&lt;" : "<", "&gt;" : ">"})|raw }}
        <br>
    {% endfor %}

    {{ form_widget(form.previous) }}
    {{ form_widget(form.next) }}
    {{ form_end(form) }}
{% endblock %}
{% block javascripts %}
    <!-- laikinai inportinu per src -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="{{ asset('js/jquery.countdown.min.js') }}"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $("input[name='test_question[answers]']").on('change', function () {
            var answer = $("input[name='test_question[answers]']:checked").val();
            $.ajax({
                type: "POST",
                url: '{{ path('questionChosen') }}',
                data: { 'question': {{ current.id }}, 'answer': answer }
            });
        });

        $("input[name='test_question[answers][]']").on('change', function () {
            var answers = [];
            $("input[name='test_question[answers][]']:checked").each(function () {
                answers.push($(this).val());
            });
            $.ajax({
                type: "POST",
                url: '{{ path('questionChosen') }}',
                data: { 'question': {{ current.id }}, 'answer': answers }
            });
        });

        $("#clock").countdown('{{ app.session.get('endsAt')|date('Y/m/d/H:i:s') }}', function(event) {
                    $(this).text(
                            event.strftime('%H:%M:%S')
                    );
                });
     /*   sendAnswer("input[name='test_question[answers]']", { path('questionChosen') }}, { current.id }});
        sendAnswers("input[name='test_question[answers]']", { path('questionChosen') }}, { current.id }});*/
    });
</script>
{% endblock %}