{% extends '::base.html.twig' %}

{% block body %}
    {% for group in app.session.get('questionGroups') %}
        <b>{{ loop.index }}.{{ group[0].book.title }}</b>
            {% for question in group %}
                <a title="{{ question.title }}" href="{{ path('question', {'id': question.id }) }}">{{ loop.index }}</a>
            {% endfor %}<br>
        {% endfor %}
    {{ form_start(form) }}
    {{ form_label(form.answers) }}
    {{ form_widget(form.answers) }}
    {{ form_widget(form.previous) }}
    {{ form_widget(form.next) }}
    {{ form_end(form) }}
{% endblock %}
{% block javascripts %}
    <!-- laikinai inportinu per src -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $("input[name='test_question[answers]']").on('change', function () {
            var answer = $("input[name='test_question[answers]']:checked").val();
            $.ajax({
                type: "POST",
                url: '{{ path('questionChosen') }}',
                data: { 'question': {{ current }}, 'answer': answer }
            });
        });

        $("input[name='test_question[answers][]']").on('change', function () {
            var answers = [];
            $("input[name='test_question[answers][]']:checked").each(function () {
                answers.push($(this).val());
            });
            $.ajax({
                type: "POST",
                url: '{{ path('questionChosen') }}',
                data: { 'question': {{ current }}, 'answer': answers }
            });
        });
    });
</script>
{% endblock %}