{% extends '::base.html.twig' %}

{% block body %}
    {% for group in app.session.get('questionGroups') %}
        <b>{{ loop.index }}.{{ group[0].book.title }}</b>
            {% for question in group %}
                {% if app.session.get('isCorrect')[question.id] is not defined or not app.session.get('isCorrect')[question.id] %}
                <a style="color: #C82829" title="{{ question.title }}" href="{{ path('testResults', {'id': question.id }) }}">{{ loop.index }}</a>
                {% else %}
                <a style="color: #66dd66" title="{{ question.title }}" href="{{ path('testResults', {'id': question.id }) }}">{{ loop.index }}</a>
                {% endif %}
            {% endfor %}<br>
        {% endfor %}
    {{ form_start(form) }}
    {{ form_label(form.answers) }}
    {{ form_widget(form.answers) }}
    {{ form_widget(form.previous) }}
    {{ form_widget(form.next) }}
    {{ form_end(form) }}

    {% if app.session.get('isCorrect')[currentQ.id] is not defined or not app.session.get('isCorrect')[currentQ.id] %}
        <p>Your choice is incorrect.</p>
        <div class="visible">
            {{ currentQ.explanation }}
        </div>
    {% else %}
        <p>Your choice is correct!</p>
        <div class="hidden">
            {{ currentQ.explanation }}
        </div>
    {% endif %}
{% endblock %}
