<!-- Static navbar -->
<header>
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand latoS font-40" href="/">
                   <span class="yellow">{</span> testify <span class="yellow">}</span>
                </a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a class="dropdown-2" href="{{ path('quick_test') }}">Quick test</a></li>
                    {%  if app.user %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle dropdown-2" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Category tests <span class="caret"></span></a>
                            <ul class="dropdown-menu position-topmost">
                                <li><a href="/category-test/1-php-basics">PHP Basics</a></li>
                                <li><a href="/category-test/2-functions-and-arrays">Functions and Arrays</a></li>
                                <li><a href="/category-test/3-object-oriented-programming">Object Oriented Programming</a></li>
                                <li><a href="/category-test/4-security">Security</a></li>
                                <li><a href="/category-test/5-data-format-and-types">Data format and Types</a></li>
                                <li><a href="/category-test/6-string-and-patterns">String and Patterns</a></li>
                                <li><a href="/category-test/7-database-and-sql">Database and SQL</a></li>
                                <li><a href="/category-test/8-web-features">Web features</a></li>
                                <li><a href="/category-test/9-input-and-output">INPUT and OUTPUT</a></li>
                            </ul>
                        </li>
                    {%  endif %}
                </ul>
                    {%  if app.user %}
                        <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle dropdown-2" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ app.user.name }}<img src="{{ app.user.avatar }}"  class="img-circle" height="40" width="40">
                                </a>

                                <ul class="dropdown-menu position-topmost">
                                    {% if is_granted('ROLE_ADMIN') %}
                                        <li><a href="{{ path('easyadmin') }}">Admin panel</a></li>
                                    {% endif %}
                                    <li><a href="{{ path('user') }}">Profile</a></li>
                                    <li><a href="{{ path('leaderboard') }}">Leaderboard</a></li>
                                    <li><a href="{{ path('messages') }}">New messages<b>({{ app.user.unseenCount }})</b></a></li>
                                    <li><a href="{{ path('addQuestion') }}">Add question</a></li>
                                    <li><a href="{{ path('myQuestions') }}">My question</a></li>
                                    <li><a href="{{ path('myReports') }}">My reports</a></li>
                                    <li><a href="{{ path('logout') }}">Log out</a></li>
                                </ul>
                            </li>

                        </ul>
                    {% else %}
                        <ul class="nav navbar-nav navbar-right list-social">
                                <li><a class="icon-4" href="{{ path('hwi_oauth_service_redirect', {'service': 'google' }) }}" alt="Sign in with Google"></a></li>
                                <li><a class="icon-1" href="{{ path('hwi_oauth_service_redirect', {'service': 'facebook' }) }}" alt="Sign in with Facebook"></a></li>
                        </ul>
                    {% endif %}
            </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
    </nav>
</header>