<!-- Static navbar -->
<header>
    <nav class="navbar navbar-default center">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand latoS" href="/">
                    <img src="{{ asset('images/php.png') }}" alt="Logo!" width="50px" align="left"/> &nbsp PHP tests
                </a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="{{ path('quick_test') }}">ZEND test</a></li>
                    <li><a href="{{ path('test_options') }}">Basic test</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Category tests <span class="caret"></span></a>
                        <ul class="dropdown-menu position-topmost">
                            <li><a href="/customTest/1">List</a></li>
                            <li><a href="/">String</a></li>
                            <li><a href="/">Something else here</a></li>
                            <li role="separator" class="divider"></li>
                            <li class="dropdown-header">Atskiriklis</li>
                            <li><a href="/">Separated link</a></li>
                            <li><a href="/">One more separated link</a></li>
                        </ul>
                    </li>
                </ul>
                    {%  if app.user %}
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a href="#" class="thumbnail mg10">
                                    <img src="{{ app.user.avatar }}">
                                </a>
                            </li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ app.user.name }}<span class="caret"></span>
                                </a>

                                <ul class="dropdown-menu position-topmost">
                                    {% if is_granted('ROLE_ADMIN') %}
                                        <li><a href="{{ path('easyadmin') }}">Admin panel</a></li>
                                    {% endif %}
                                    <li><a href="{{ path('user') }}">Statistics</a></li>
                                    <li><a href="{{ path('keistiDuomenis') }}">Edit profile</a></li>
                                    <li><a href="{{ path('logout') }}">Log out</a></li>
                                </ul>
                            </li>

                        </ul>
                    {% else %}
                        <ul class="nav navbar-nav navbar-right">
                            <li><a class="btn margin-0 loginButton">Log in</a></li>
                        </ul>
                    {% endif %}
            </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
    </nav>
    <!--login register forms-->
    <div class="container allign-center">
        <div class="row">
            <div class="col-lg-4 col-lg-offset-4 col-sm-12 loginForm">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        Log in
                    </div>
                    <div class="panel-body">
                        <fieldset class="form-group">
                            <a href="{{ path('hwi_oauth_service_redirect', {'service': 'facebook' }) }}" alt="Sign in with Facebook"><button class="btn btn-4 btn-4e"> Sign in with Facebook</button></a><br>

                        </fieldset>
                        <fieldset class="form-group">
                            <a href="{{ path('hwi_oauth_service_redirect', {'service': 'google' }) }}" alt="Sign in with Google"><button class="btn btn-4 btn-4e">Sign in with Google</button></a>
                        </fieldset>

                    </div>
                    <div class="panel-footer">
                        <a href="">Forgotten password?</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</header>