{% extends "::base.html.twig" %}

{% block title %}Profile{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="sand-background" xmlns="http://www.w3.org/1999/html">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3">
                    <img src="{{ app.user.avatar }}"  class="img-circle mg-bot-10 img-circle-b" >
                </div>
                <div class="col-lg-9 col-md-9 col-sm-9 mg-bot-10">
                    <h4>1 - PHP Basics</h4>
                    <h4>2 - Functions and Arrays</h4>
                    <h4>3 - Object Oriented Programming</h4>
                    <h4>4 - Security</h4>
                    <h4>5 - Data format and Types</h4>
                    <h4>6 - Strings and patterns</h4>
                    <h4>7 - Database and SQL</h4>
                    <h4>8 - Web features</h4>
                    <h4>9 - INPUT and OUTPUT</h4>
                </div>
            </div>
            <div class="row">
                <div id="data"></div>
                <div id="chart_div"></div>
                <div id="cat_div"></div>
            </div>
        </div>

    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">

        function dataCharts(reqPath, idEl) {
            $.ajax({
                type: "POST",
                url: reqPath,
                dataType: 'json',
                success: function (data) {
                    var obj = JSON.parse(data);

                    //$(idEl).html(obj.data);

                    /*for (i = 0; i < obj.data.length; i++) {
                        $(idEl).append("<br>", obj.data[i]);
                    }

                    obj.data = eval(obj.data);*/

                    google.charts.setOnLoadCallback(drawChart);

                    function drawChart() {
                        console.log(obj.data);
                        obj.data = eval(obj.data);
                        var options = {
                            title: 'Category results',
                            hAxis: {
                                title: 'Categories'
                            },
                            vAxis: {
                                viewWindowMode:'explicit',
                                viewWindow: {
                                    max:100,
                                    min:0
                                },
                                gridlines: { count: 10 },
                                title: '% results'
                            },
                            bar: {groupWidth: "90%"},
                            legend: { position:"none"}

                        };

                        var chart = new google.visualization.ColumnChart(
                                document.getElementById('chart_div'));

                        chart.draw(data, options);
                    }
                }

            });
        }

        /*function categoryChart(reqPath, idEl) {
            $.ajax({
                type: "POST",
                url: reqPath,
                dataType: 'json',
                success: function (data) {
                    var obj = JSON.parse(data);

                    google.charts.setOnLoadCallback(drawCatChart);

                    function drawCatChart() {

                        //obj.data = eval(obj.data);
                        var options = {
                            title: 'Category',
                            bar: {groupWidth: "90%"},
                            legend: { position:"none"}
                        };

                        var chart = new google.visualization.ColumnChart(
                                document.getElementById('cat_div'));

                        chart.draw(data, options);
                    }
                }

            });
        }*/

        $( document ).ready(function() {
            google.charts.load('current', {packages: ['corechart', 'bar']});
            dataCharts('{{ path('user-data', {id: app.user.id}) }}', $('#data'));
            //categoryChart('{{ path('category-data', {id: 1}) }}', $('#data'));
        });
    </script>
{% endblock %}