{% extends "::base.html.twig" %}

{% block title %}My messages{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}


{% block body %}
    <div class="container">
        <div id="contact">
            <h5>{{ message.title }}</h5>
            <p>{{ message.content }}</p>
            <p>{{ message.received|date('Y/m/d H:i:s') }}</p>
        </div>
    </div>
    <div><a href="{{ path('messages') }}">Back to list</a></div>
{% endblock %}